
* {
    line-height: 1.5;
}

body {
    font-family: "DejaVu Sans", "Helvetica Neue", Tahoma, Arial, sans-serif;
    background-color: #d21e1e;

}

h1 {
    color: #000000;
    font-size: 42px;
}

.card {
    text-transform: uppercase;
    width: 800px;
    margin: auto;
}

ul,
ol {
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    border-top: 2px solid #000000;
    padding: 4px 0px 12px;
}

a {
    text-decoration: none;
    color: inherit;
}
